.socials-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.details-body {
  margin-top: 50px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.details-header {
  display: flex;
}

.details-body .project-logo {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}
.details-body .project-platform {
  width: 25px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.details-body .btn-open-link {
  width: 120px;
  background-color: #ffffff;
  box-shadow: -0.5px -0.5px 3px 3px rgba(126, 126, 126, 0.281);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  margin-right: 20px;
  margin-left: 10px;
}
.details-body .btn-open-link p {
  margin: auto;
}

.details-body .btn-open-link:hover {
  transform: scale(0.95);
  color: #fff;
  background-color: #729fcf;
}
.details-body .btn-open-link:active {
  transform: scale(1);
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}
